<template>
    <div>
        <div class="flex" style="">
            <div class="relative h-9 flex-no-shrink mb-6 flex justify-between w-full">
                <h1 class="mb-3 text-90 font-normal text-2xl">Tables</h1>
                <router-link :to="routes.add_table" class="btn btn-default btn-primary" dusk="create-button">
                    Create Table
                </router-link>
            </div>
        </div>
        <DevTable :routes="routes"/>
    </div>
</template>

<script>
import DevTable from './tables/table';
export default {
    data(){
        return {
            modalOpen: false,
            routes:{
                index:'/todo-module',
                add_table:'/todo-module/add-table',
                get_tables:'/nova-vendor/todo-module/get-tables',
                delete_table:'/nova-vendor/todo-module/delete-table',
                change_table_position:'/nova-vendor/todo-module/change-table-position',
                get_cards:'/nova-vendor/todo-module/get-cards',
                add_card:'/nova-vendor/todo-module/add-card',
                change_card_position:'/nova-vendor/todo-module/change-card-position',
                update_card:'/nova-vendor/todo-module/update-card',
                delete_card:'/nova-vendor/todo-module/delete-card',
                add_task:'/nova-vendor/todo-module/add-task',
                delete_task:'/nova-vendor/todo-module/delete-task',
                change_status_task:'/nova-vendor/todo-module/change-status-task',
                change_task_position:'/nova-vendor/todo-module/change-task-position'
            },
        }
    },
    components:{
        DevTable
    },

}
</script>

<style>
/* Scoped Styles */
</style>
