<template>
    <div class="relative">
        <portal to="modals">
                <DeleteTableModal
                    v-if="deleteTableModalOpen"
                    @close="closeTableModal"
                    @confirm="confirmTableDelete"
                />
        </portal>
        <form @submit.prevent="onSubmit" autocomplete="off">
            <div class="mb-8">
                <div class="card">
                    <div class="remove-bottom-border">
                        <div class="relationship-tabs-panel card overflow-hidden">
                            <div v-if="tables.length" class="flex flex-row py-3 flex flex-wrap">
                                <draggable tag="div" :list="tables" v-bind="dragTableOptions" @end="onDraggableTableEnd">
                                    <transition-group style="display:flex" draggable="true"  type="transition">
                                        <div  @click="chooseDev(table.id)" v-for="(table, index) in tables" :class="[{ 'border-primary' : table_id===table.id  }]" class="cursor-pointer draggable border-40 tab-item py-5 px-8 focus:outline-none border-b-2 tab cursor-pointer text-grey-black font-bold" :tableId="table.id" :key="table.id">
                                            {{ table.name }}
                                            <div class="delete-table" @click="deleteTableModal(table.id, index)">
                                                <img class="delete-table" src="https://img.icons8.com/ios-glyphs/30/000000/delete-sign.png">
                                            </div>
                                        </div>
                                    </transition-group>
                                </draggable>
                                <div class="flex-1 border-b-2 border-40"></div>
                            </div>
                            <div v-if="table_id">
                                <TodoCards :transitionCards="transitionCards" :routes="routes" :table_id="table_id" :cards="cards" :show_card_mask="show_card_mask" @deleteCard="deleteCard" @changeStatusTask="changeStatusTask" @deleteTask="deleteTask" @addTask="addTask"/>
                            </div>
                            <div v-else style="min-height: 429px; display: flex; justify-content: center; align-items: center">
                                <transition name="fade">
                                    <span>Choose or <router-link :to="routes.add_table" class="inline-link">Create</router-link> new table</span>
                                </transition>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center"></div>

        </form>
    </div>
</template>

<script>
    import TodoCards from './cards/todo_cards';
    import DeleteTableModal from '../modals/table_delete';
    import draggable from 'vuedraggable'


    export default {
        name: "table",
        components: {
            TodoCards,
            DeleteTableModal,
            draggable
        },
        data(){
            return{
                tables:{},
                table_id : '',
                cards: {},
                deleteTableModalOpen: false,
                deleteTableId: '',
                deleteTableIndex: '',
                show_card_mask: false,
                transitionCards: false,
                showNotification: true,
                sliderOptions: {
                    "dots": true,
                    "focusOnSelect": true,
                    "infinite": true,
                    "speed": 500,
                    "slidesToShow": 5,
                    "slidesToScroll": 3,
                    "touchThreshold": 5,
                }
            }
        },
        props:['routes'],
        mounted() {
            axios.get(this.routes.get_tables).then((response)=>{
                this.tables = response.data;
                this.uploadCards(this.tables[0].id);
            })
        },
        methods:{
            chooseDev(index){
                if(event.target.classList.contains('delete-table')){
                    return false
                }

                var tabs = document.getElementsByClassName('tab-item');

                Object.keys(tabs).forEach( (item) => {
                    tabs[item].classList.remove('border-primary');
                    tabs[item].classList.add('border-40')
                })

                event.target.className += " border-primary";
                this.transitionCards = true;
                this.uploadCards(index);
            },
            uploadCards(index){
                this.table_id = index;
                axios.post(this.routes.get_cards,{
                    table_id:index
                }).then((response)=>{
                    this.cards = response.data;

                    setTimeout(()=>{
                        this.transitionCards = false;
                    },300)
                }).catch((response) => {
                    this.notification('Some Error', 'error');
                })
            },
            deleteCard(id,array_index){
                this.createCardMask()
                this.transitionCards = true;
                axios.post(this.routes.delete_card,{
                    id:id
                }).then((response)=>{

                    this.transitionCards = false;
                    this.cards.splice(array_index,1);

                    this.notification('Card Deleted', 'success');

                    this.destroyCardMask();
                }).catch((response) => {
                    this.transitionCards = false;
                    this.notification('Some Error', 'error');
                    this.destroyCardMask();
                })
            },
            deleteTask(card_index, task_id, index){
                this.createCardMask()
                axios.post(this.routes.delete_task,{
                    id:task_id
                }).then((response) => {
                    this.cards[card_index].tasks.splice(index, 1);
                    this.notification('Task Deleted', 'success');
                    this.destroyCardMask();
                }).catch((response) => {
                    this.notification('Some Error', 'error');
                    this.destroyCardMask();
                })
            },
            changeStatusTask(card_index, task_id, index){
                this.createCardMask()
                axios.post(this.routes.change_status_task,{
                    id:task_id
                }).then((response) => {
                   this.cards[card_index].tasks[index].status = response.data;
                    this.notification('Success', 'success');
                    this.destroyCardMask();
                }).catch((response) => {
                    this.notification('Some Error', 'error');
                    this.destroyCardMask();
                })
            },
            addTask(card_id, card_index, task){

                this.createCardMask()
                axios.post(this.routes.add_task,{
                    card_id:card_id,
                    task:task
                }).then((response) => {
                    let new_task = {
                        id:response.data.id,
                        task:response.data.task,
                        status:response.data.status
                    }
                    this.cards[card_index].tasks.push(response.data);
                    this.destroyCardMask();
                }).catch((response) => {
                    this.notification('Some Error', 'error');
                    this.destroyCardMask();
                })
            },
            deleteTableModal(table_id, table_index){
                this.deleteTableModalOpen = true;
                this.deleteTableId =  table_id;
                this.deleteTableIndex = table_index;
            },
            closeTableModal(){
                this.deleteTableModalOpen = '';
                this.deleteTableId = '';
                this.deleteTableIndex = '';
            },
            confirmTableDelete(){
                this.deleteTableModalOpen = '';
                this.table_id = '';
                axios.post(this.routes.delete_table, {
                    id: this.deleteTableId
                }).then( response => {
                    this.tables.splice(this.deleteTableIndex, 1);
                    this.notification('Table Deleted', 'success');
                }).catch( response => {
                    this.notification('Some Error', 'error');
                });

                this.deleteTableId = '';
            },
            createCardMask(){
                this.show_card_mask = true;
            },
            destroyCardMask(){
                this.show_card_mask = false;
            },
            onDraggableTableEnd(evt){
                let id = evt.item.getAttribute('tableId');
                let newIndex = evt.newIndex;

                axios.post(this.routes.change_table_position, {
                    id:id,
                    order: newIndex
                }).then((response) => {
                    this.notification('Table moved', 'success');
                }).catch((response) => {
                    this.notification(response.data, 'error');
                })
            },
            notification(message, status){
                if(this.showNotification){
                    this.$toasted.show(message, { type: status })
                }
                if(this.showNotification){
                    this.showNotification = false;

                    setTimeout(() => {
                        this.showNotification = true;
                    },3000)
                }
            }
        },
        computed: {
            dragTableOptions() {
                return {
                    animation: 200,
                    group: "tables",
                    disabled: false,
                    ghostClass: "ghost",
                    forceFallback: true,
                    handle: '.draggable'
                };
            }
        }

    }
</script>

<style>
    .relationship-tabs-panel .text-error{color:var(--danger)}.relationship-tabs-panel .text-error.border-primary{border-color:var(--danger)}.relationship-tabs-panel .card{-webkit-box-shadow:none;box-shadow:none}.relationship-tabs-panel h1{display:none}.relationship-tabs-panel .tab{padding-top:1.25rem;padding-bottom:1.25rem}.relationship-tabs-panel .tab-content>div>.relative>.flex{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;padding-left:.75rem;padding-right:.75rem;position:absolute;top:0;right:0;-webkit-transform:translateY(-100%);transform:translateY(-100%);-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:62px}.relationship-tabs-panel .tab-content>div>.relative>.flex>.mb-6{margin-bottom:0}.relationship-tabs-panel .tab-content>div>.relative>.flex>.w-full{width:auto;margin-left:1.5rem}
    .tab-item{
        position: relative;
    }
    div.cursor-pointer{
        cursor: pointer;
    }
    .tab-item:hover .delete-table{
        opacity:1;
        visibility: visible;
    }
    .delete-table{
        position: absolute;
        top:0px;
        right:0px;
        width: 15px;
        height: 15px;
        padding: 2px;
        visibility:hidden;
        cursor: pointer;
        opacity:0;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }
    .draggable{
        cursor: move; /* fallback if grab cursor is unsupported */
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }

    /* (Optional) Apply a "closed-hand" cursor during drag operation. */
    .draggable:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }
</style>
