<template>
    <div>
        <div class="relative">
            <form @submit.prevent="onSubmit"  autocomplete="off">
                <div class="mb-8">
                    <h1 class="mb-3 text-90 font-normal text-2xl">Create Table</h1>
                    <div class="card">
                        <div class="flex border-b border-40" via-resource="" via-resource-id="" via-relationship="">
                            <div class="w-1/5 px-8 py-6">
                                <label for="name" class="inline-block text-80 pt-2 leading-tight">Name<span class="text-danger text-sm">*</span></label>
                            </div>
                            <div class="py-6 px-8 w-1/2">
                                <input v-model="name" type="text" placeholder="Name" required class="w-full form-control form-input form-input-bordered">
                                <div v-if="errors.name" class="help-text error-text mt-2 text-danger">
                                    {{ errors.name[0] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center">
                    <span tabindex="0" @click="goBack" class="btn btn-link dim cursor-pointer text-80 ml-auto mr-6">Cancel</span>
                    <button @click="addDev" type="submit" class="btn btn-default btn-primary inline-flex items-center relative">
                        <span class="">Create Table</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<div id="dfJfxkZnS" class="toasted-container bottom-right">
    <div class="toasted nova success panning" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0; transform: translateY(-35px); left: -293px;">
        The user was updated!
    </div>
</div>
<script>
import axios from 'axios';

export default {
    data(){
        return {
            name: '',
            errors:[],
            created: false
        }
    },
    methods: {
      addDev(e, redirect=true){

          if(this.created){
              return false;
          }
          event.preventDefault();
          this.created = true;
          axios.post('/nova-vendor/todo-module/add-table', {
              name: this.name,
          }).then((response)=>{
              if(response.data === 'success') {

                  this.$toasted.show('Table Successfully Created', { type: 'success' });

                  this.$router.push({name: 'todo-module'});
              }
          }).catch(error => {
              this.created = false;
              this.$toasted.show('Something Went Wrong', { type: 'error' });
              this.errors = error.response.data.errors;
          })
      },
        goBack() {
                window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
            }
        },
    mounted() {

    },
}
</script>

